/*---------------------------
Sliding social icons starts
----------------------------*/
.lovely-social-page-buttons{
    padding: 0;
    margin: 0;

}
.lovely-social-page-buttons li{
    list-style-type: none;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
.lovely-social-page-buttons li a{
    display: block;
    width: 56px;
    height: 56px;
    overflow: hidden;
    color: #fff;
    background-color: rgba(233,233,233,0.9);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.lovely-social-page-buttons-inner-wrapper{
    width: 112px;
    height: 56px;
}
.lovely-social-page-buttons .social-icon-1{
    float: left;
    width: 56px;
    height: 56px;
    margin-top: 16px;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 1px #000;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.lovely-social-page-buttons .social-icon-2{
    float: left;
    width: 56px;
    height: 56px;
    margin-top: 16px;
    font-size: 28px;
    text-align: center;
    text-shadow: 3px 3px #000;
}

.lovely-social-page-buttons li a:hover .lovely-social-page-buttons-inner-wrapper > .social-icon-1{
    margin-left: -56px;
}
.lovely-social-page-buttons li a:hover{
    color: #fff !important;
}

.lovely-social-page-buttons li .social-fb-icon {
background-color: #3b5998;
}
.lovely-social-page-buttons li .social-google-plus-icon{
background-color: #dd4b39;
}

.lovely-social-page-buttons li .social-google-plus-icon{
background-color: #dd4b39;
}
.lovely-social-page-buttons li .social-twitter-icon {
background-color: #55acee;
}
.lovely-social-page-buttons li .social-youtube-icon {
background-color: #bb0000;
}
.lovely-social-page-buttons li .social-linkedin-icon {
background-color: #007bb5;
}
.lovely-social-page-buttons li .social-pinterest-icon {
background-color: #cb2027;
}




.lovely-social-page-buttons li .social-fb-icon:hover {
    background-color: #3b5998;
}
.lovely-social-page-buttons li .social-google-plus-icon:hover {
    background-color: #dd4b39;
}

.lovely-social-page-buttons li .social-google-plus-icon:hover{
    background-color: #dd4b39;
}
.lovely-social-page-buttons li .social-twitter-icon:hover {
    background-color: #55acee;
}
.lovely-social-page-buttons li .social-youtube-icon:hover {
    background-color: #bb0000;
}

/*---------------------------
Sliding social icons over
----------------------------*/


.lsp_buttons_credit{
    font-size: 10px;
}
